@model Core.Concretes.Entities.Member
@{
    ViewData["Title"] = "Profilim";
}

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <h5 class="card-header">Profil Detayları</h5>
            <!-- Account -->
            <div class="card-body">
                <div class="d-flex align-items-start align-items-sm-center gap-4">
                    <img src="/img/avatars/1.png" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
                    <div class="button-wrapper">
                        <h4 class="mb-1">@Model.FirstName @Model.LastName</h4>
                        <p class="text-muted mb-0">@Model.Email</p>
                    </div>
                </div>
            </div>
            <hr class="my-0" />
            <div class="card-body">
                <form id="formAccountSettings" method="POST" onsubmit="return false">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Ad</label>
                            <input class="form-control" type="text" id="firstName" name="firstName" value="@Model.FirstName" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label">Soyad</label>
                            <input class="form-control" type="text" name="lastName" id="lastName" value="@Model.LastName" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">E-Mail</label>
                            <input class="form-control" type="text" id="email" name="email" value="@Model.Email" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="phoneNumber">Telefon Numarası</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">TR (+90)</span>
                                <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" value="@Model.PhoneNumber" readonly />
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="createdAt" class="form-label">Kayıt Tarihi</label>
                            <input type="text" class="form-control" id="createdAt" name="createdAt" value="@Model.CreatedAt.ToString("dd.MM.yyyy")" readonly />
                        </div>
                    </div>
                    <div class="mt-2">
                        <a href="/" class="btn btn-primary me-2">Anasayfaya Dön</a>
                    </div>
                </form>
            </div>
            <!-- /Account -->
        </div>
    </div>
</div>
